<app-Admin></app-Admin>
<!-- end header -->

<!-- content section -->
<section id="main-content">
    <section class="wrapper">
        <div id="content-head"> 
         <h2> show order for user  </h2>
        </div>
        
        <div class="row" *ngIf="getorderbyuserid().length !=0">
            <table class="table table-bordered">
                <tr id="main-tr">
                    <td> id </td>
                    <td>Date Added</td>
                    <td>Date Delivered</td>
                    <td>Date selected </td>
                    <td> action </td>
                </tr>
                
                <tr *ngFor="let order of getorderbyuserid()">
                    
                    <td> {{order.idorder}} </td>
                    <td>{{order.ordertime | date:'short'}}</td>
                    <td>{{order.deliverytime | date:'short'}}</td>
                    <td> {{order.selectedtime | date:'short'}} </td>
                    <td *ngIf="order.status ==3"><input type="button" class="btn btn-danger" (click)="changestatus($event,order.idorder,4)" value="start delivery"></td>
                    <td *ngIf="order.status ==4"> <input type="button" class="btn btn-warning" (click)="changestatus($event,order.idorder,5)" value="on the way"> </td>
                    <td *ngIf="order.status ==5"><input type="button" class="btn btn-success" value="deliveried"></td>
                  
                   
                    
                </tr>
            </table>
        </div>
        <div *ngIf="getorderbyuserid().length==0">
            <h4 class="h4" > There are no orders for this user </h4>
        </div>
    </section>
</section>5