<app-Admin></app-Admin>
<!-- end header -->

<!-- content section -->
<section id="main-content">
    <section class="wrapper">
        <div id="content-head">
         <h2> subCategories </h2>
        </div>
         <div class="form-group col-md-5 col-md-offset-4"  style="margin-top:15px;">
        <select class="form-control" id="sel1" [ngModel]="selectedoption" (ngModelChange)="onChange($event)">
          <option> choose SubCategories </option>
          
            <option *ngFor="let category of  ListCategory()">
                    {{category.name}}
            </option>
        
        </select>
    </div>
       <div class="row">
            <table class="table table-bordered">
                <tr id="main-tr">
                    <td> index </td>
                    <td>name</td>
                    <td>Descriptation</td>
                    <td> action</td>
                   
                </tr>
                <tr *ngFor="let subcategory of ListsubCategory(); let index = index">
                    <td id="index">{{index+1}}</td>
                    <td>{{subcategory.name}}</td>
                    <td>{{subcategory.categorydesc}}</td>
                    <td><a [routerLink]="['/subcategory/edit',subcategory.idcategory]" class="actionBtn btn btn-success">Edit</a>
                   <a [routerLink]="['/subcategory/delete',subcategory.idcategory]" class="btn btn-danger" >remove</a></td>
                
                   
                </tr>
            </table>
        </div>
    </section>
</section>
