<app-Admin></app-Admin>

 <!-- content section -->
<section id="main-content">

<section class="wrapper">
        <div class="row">
            <table class="table table-bordered">
                <tr id="main-tr">
                    <td> name </td>
                    <td> barcode </td>
                    <td> price </td>
                    <td>Quantity </td>
                    <td> image </td>
                    <td> description </td>
                </tr>
                <tr id="child-tr">
                    <td><input type="text" name="productnameEdit" class="form-control" [(ngModel)]="product.name" #productnameEdit="ngModel"/></td>
                    <td><input type="text" name="productbarcode" class="form-control" [(ngModel)]="product.barcode" #productbarcode="ngModel"/></td>
                    <td><input type="number" name="productprice" class="form-control"  min=0  [(ngModel)]="product.price" #productprice="ngModel"/></td>
                    <td><input type="number" name="productquantity" class="form-control"  min=0  [(ngModel)]="product.quantity" #productquantity="ngModel"/></td>
                    <!--<td><input type="text" name ="productimage" class="form-control"  [(ngModel)]="product.image" #productimage="ngModel"/></td>-->
                    <td><img [src]="product.image" style="width:100px; height:100px;" />
                    <div >
                      <input id="photo" type="file" />
                      <button type="button" class="btn btn-success btn-s" (click)="upload()">upload image</button>
                  </div>
                    </td>
                  <td id="text"><textarea name="productdescription" class="form-control" id="exampleTextarea" rows="5" cols="35" [(ngModel)]="product.description" #productdescripation="ngModel"></textarea></td>
                </tr>
            </table>
        </div>
        <div class="form-group col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-primary" (click)="updateProduct(product)">edit product</button>
        </div>
    </section>
</section>