<app-Admin></app-Admin>
    <!-- end header -->
    <!-- content section -->

<section id="main-content">
    <section class="wrapper">
        <div id="content-head"> 
         <h1> Products </h1>
        </div>
        <div class="form-group col-md-5 col-md-offset-4"  style="margin-top:15px;">
        <select class="form-control" id="sel1" [ngModel]="selectedoption" (ngModelChange)="onChange($event)">
           <option> choose SubCategories </option>
            <option *ngFor="let subcatagory of ListsubCategory()">
                    {{subcatagory.name}}
            </option>
        </select>
    </div>
        <div class="row">
            <table class="table table-bordered">
                <tr id="main-tr">
                    <td> index </td>
                    <td> name </td>
                    <td> barcode </td>
                    <td> price </td>
                    <td>Quantity </td>
                    <td> image </td>
                    <td> description </td>
                    <td> action </td>
                </tr>
                <tr id="tr" *ngFor="let product of getProducts();let index = index">
                    <td id="index">{{index+1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.barcode}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td><img [src]="product.image" style="width:100px; height:100px;" /></td>
                    <td>{{product.description}}</td>
                    <td>
                        <a [routerLink]="['/products/edit',product.idproduct]" class="actionBtn" class="btn btn-success">Edit</a>
                        <a [routerLink]="['/products/edit/quantity',product.idproduct]" class="actionBtn" class="btn btn-primary">Update Quantity</a>
                        <button type="button" (click)="removeProduct(product.idproduct)" class="actionBtn" class="btn btn-danger">remove</button> 
                        
                    </td>
                </tr>
            </table>
        </div>
    </section>
</section>