nes (56 sloc)  2.64 KB
<app-Admin></app-Admin>
    <!-- end header -->
    <!-- content section -->

<section id="main-content">
    <section class="wrapper">
        <div id="content-head"> 
         <h1> Products </h1>
        </div>
        <div class="form-group col-md-5 col-md-offset-4"  style="margin-top:15px;">
        <select class="form-control" id="sel1" [ngModel]="selectedoption" (ngModelChange)="onChange($event)">
           <option> choose SubCategories </option>
            <option *ngFor="let subcatagory of ListsubCategory()">
                    {{subcatagory.name}}
            </option>
        </select>
    </div>
        <div class="row"  style="padding:0px">
            <table class="table table-bordered" >
                <tr id="main-tr" style="padding:0px " >
                    <td > index </td>
                    <td style=" width:70px;"> name </td>
                    <td> barcode </td>
                    <td> price </td>
                    <td>Quantity </td>
                    <td> image </td>
                    <td style=" width:230px; padding:0px; "> description </td>
                    <td style=" width:300px; "> action </td>
                </tr>
                <tr id="tr" *ngFor="let product of getProducts();let index = index">
                    <td id="index">{{index+1}}</td>
                    <td >
                        <div  style=" width:70px;">
                                {{product.name}}
                        </div>
                    </td>
                    <td>{{product.barcode}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td><img [src]="product.image" style="width:100px; height:100px;" /></td>
                    <td >
                        <div style="height:150px; width:230px;text-align:center; padding-top:0px;overflow: scroll;">
                            {{product.description}}
                        </div>
                    </td>
                    <div  >
                        <td style=" height:150px; padding-top:50px; padding-left:10px">
                        
                            <a [routerLink]="['/products/edit',product.idproduct]" class="actionBtn" class="btn btn-success">Edit</a> 
                            <button type="button" (click)="removeProduct(product.idproduct)" class="actionBtn" class="btn btn-danger">remove</button> 
                            <a [routerLink]="['/products/edit/quantity',product.idproduct]" class="actionBtn" class="btn btn-primary">Add Quantity</a>
                     </td>
                    </div>
                </tr>
            </table>
        </div>
    </section>
</section>