<app-Admin></app-Admin>

<section id="main-content">
    <section class="wrapper">
<div class="row">
     <div id="content-head">
         <h2> New orders not served Yet </h2>
        </div>
        <div *ngIf="gethomeorder().length<0">
            <h3 class="h3" >No orders to serve </h3>
            </div>
            <table class="table table-bordered" *ngIf="gethomeorder().length >0">
                <tr id="main-tr">
                    <td> index </td>
                    <td> user name</td>
                    <td>Date Added</td>
                    <td>Date selected </td>  
                    <td> status
                   
                </tr>
                <tr *ngFor="let order of  gethomeorder();let index = index;">
                    <td id="id">
                   <a [routerLink]="['/orders/orderdetails',order.idorder]">{{index+1}}</a>
                    </td>
                    <td> {{order.name}}</td>
                    <td>{{order.ordertime | date:'short'}}</td>
                    <td> {{order.selectedtime | date:'short'}} </td>
                    <td *ngIf="order.status ==3"><input type="button" class="btn btn-danger" (click)="changestatus($event,order.idorder,4)" value="start delivery"></td>
                   
                    
                </tr>
            </table>
        </div>
    </section>
</section>