<app-Admin></app-Admin>

<!-- end header -->
<!-- content section -->
<section id="Category">
    <div id="content-head"> 
         <h2> Add Category </h2>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="row" style="margin-top:30px;">
            <div class="form-group col-md-5 col-md-offset-4">
                <label for="newCatagory" class="addCatLabel">Name</label>
                <input type="text" class="form-control" [(ngModel)]="name" name="categoryName" placeholder="enter category name...">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-4">
                <label for="descCatagory" class="addCatLabel">Descriptation</label>
                <input type="text" class="form-control" [(ngModel)]="description" name="categorydesc" placeholder="enter category descripation..">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-4">
                <label for="categoryimage" class="addCatLabel">image</label>
                <input id="photo" type="file" />
                <button type="button" class="btn btn-success btn-s" (click)="upload()">upload image
            </button>

            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-6" style="margin-top:20px;">
                <button type="submit" class="btn btn-primary" (click)="Addcatagory()">Add Category</button>
            </div>
        </div>
    </form>
</section>