<app-Admin></app-Admin>
<!-- end header -->

<!-- content section -->
<section id="main-content">
    <section class="wrapper">
        <div id="content-head">
         <h2> Categories </h2>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tr id="main-tr">
                     <td> index </td>
                    <td>name</td>
                    <td>descritions</td>
                    <td> image </td>
                    <td>action</td>
                </tr>
                <tr *ngFor="let category of ListCategory();let index = index" >
                     <td id="index" style="text-align:center">{{index+1}}</td>
                    <td >{{category.name}}</td>
                    <td>{{ category.categorydesc}}</td>
                    <td><img [src]="category.image"  style="width:100px; height:100px;" /></td>
                    <td>
                        <a [routerLink]="['/catagory/edit',category.idcategory]" class="actionBtn" class="btn btn-success">Edit</a>
                        <button (click)="deletecategory(category.idcategory)" class="actionBtn" class="btn btn-danger" >remove</button>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</section>
