<app-Admin></app-Admin>
<!-- end header -->

<!-- content section -->
<section id="main-content">
    <section class="wrapper">
        <div  style="margin-top:-10px;" >
            <input style="margin-bottom:10px;" type="search" placeholder="Search"  [(ngModel)]="term">
        </div>
        
        <div class="row" style="padding:0px">
            <table class="table table-bordered">
                <tr id="main-tr" style="padding:0px ">
                     <td> index </td>
                    <td style=" width:100px;"> name </td>
                    <td> image </td>
                    <td > description </td>
                    <td style="width:260px;"> action </td>
                </tr>
                <tr *ngFor="let category of ListCategory()|filter:term ;let index = index" >
                     <td id="index" style="text-align:center">{{index+1}}</td>
                    <td > 
                        <div  style=" width:100px;">
                                {{category.name}}
                        </div>
                    </td>
                    <td style="padding-top:50px;"><img [src]="category.image"  style="width:100px; height:100px;" /></td>
                     <td>
                        <div>
                            {{category.categorydesc}}
                        </div>
                    </td>
                        <td style="padding-left:70px">
                            <a [routerLink]="['/catagory/edit',category.idcategory]" class="actionBtn" class="btn btn-success">Edit</a>
                            <button (click)="deletecategory(category.idcategory)" class="actionBtn" class="btn btn-danger" >remove</button>
                        </td>
                </tr>
            </table>
        </div>
    </section>
</section>
