<app-Admin></app-Admin>

 <!-- content section -->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <table class="table table-bordered">
                <tr id="main-tr">
                    
                    <td>name</td>
                    <td>descritions</td>
                    <td> image </td>
                   
                </tr>
                <tr >
                   
                    <td ><input type="text" name="catname" class="form-control"  [(ngModel)]="category.name" #catname="ngModel" /></td>
                    <td><input type="text" name="descr" class="form-control" [(ngModel)]="category.categorydesc" #desc="ngModel"/></td>
                    <td>
                        <img [src]="category.image" style="width:100px; height:100px;" />
                        <div >
                            <input id="photo" type="file" />
                            <button type="button" class="btn btn-success btn-s" (click)="upload()">upload image</button>
                        </div>
                    </td>
                   
                </tr>
            </table>
        </div>
        <div class="form-group col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-primary" (click)="EditCatagory(catname.value,desc.value)">Edit</button>
        </div>
    </section>
</section>





<!--<section id="Category" style="margin:100px;">
    <div id="CatContent-head">
  <h3 class="h3"> Edit category </h3>
    <div class="row" style="margin-top:30px;">
    <div class="form-group col-md-5 col-md-offset-4">
        <label for="newCatagory" class="addCatLabel">Name</label>
        <input type="text" name="catname" class="form-control" placeholder="name" [(ngModel)]="name" #catname="ngModel" />
    </div>
    </div>
    <div class="row">
        <div class="form-group col-md-5 col-md-offset-4">
            <label for="descCatagory" class="addCatLabel">Descriptation</label>
            <input type="text" name="descr" class="form-control" placeholder="descripation" [(ngModel)]="descripation" #desc="ngModel"
            />
        </div>
    </div>
     <div class="row">
            <div class="form-group col-md-5 col-md-offset-4">
                <label for="categoryimage">edit  image</label>
                <input id="photo" type="file" />
                <button type="button" class="btn btn-success btn-s" (click)="upload()">upload image
            </button>

            </div>
        </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-6">
            <button type="submit" class="btn btn-success btn-lg" (click)="EditCatagory(catname.value,desc.value)">Edit</button>
        </div>
    </div>
    </div>
</section>-->
