<app-Admin></app-Admin>

 <!-- content section -->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <table class="table table-bordered">
                <tr id="main-tr">
                    
                    <td>name</td>
                    <td>descritions</td>
                    <td> image </td>
                   
                </tr>
                <tr >
                   
                    <td ><input type="text" name="catname" class="form-control"  #catname /></td>
                    <td><input type="text" name="descr" class="form-control"  #desc/></td>
                    <td>
                        <img [src]="category.image" style="width:100px; height:100px;" />
                        <div >
                            <input id="photo" type="file" />
                            <button type="button" class="btn btn-success btn-s" (click)="upload()">upload image</button>
                        </div>
                    </td>
                   
                </tr>
            </table>
        </div>
        <div class="form-group col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-primary" (click)="EditCatagory(catname.value,desc.value)">Edit</button>
        </div>
    </section>
</section>





